include includes/systems/head
body
  #page

    include includes/modules/header

    include includes/modules/nav

    include includes/contents/philosophy

    include includes/contents/featured.project

    include includes/contents/list.project

    include includes/contents/people

    include includes/contents/joinus

include includes/systems/foot
