include includes/systems/head
body
  #page
    header.the-header.unit.pad.cf
      .unit-inner
        div.hgroup
          h1.en en.ja OSS
          h2.en.h6 Bringing down the language barriers
        div.logo
          span.icon-logo
    .unit.navgation
      .unit-inner
        .bd
          ul.list-none
            li.en.h1
              a(href='#philosophy') Philosophy
            li.en.h1
              a(href='#projects') Projects
            li.en.h1
              a(href='#people') People
            li.en.h1
              a(href='#joinus') Join Us
    .unit.philosophy
      .unit-inner
        .hd
          h2#philosophy.h3 OSSドキュメントを日本語に
        .bd
          :markdown
            en.ja OSSでは**OSSの日本語訳レポジトリの集積**、**OSSドキュメント日本訳のリクエストの集積**の2点にフォーカスし、オープンでソーシャルな翻訳を行っています。
    .unit.projects
      .unit-inner
        .hd
          h2#projects.en.h3 Projects
        .bd
          ul.list-none
            li
              a(href='https://github.com/enja-oss/Backbone', title='backbone.js')
                img(src='assets/images/repositories/backbone.001.png', alt='backbone.js')
            li
              a(href='https://github.com/enja-oss/Underscore', title='underscore.js')
                img(src='assets/images/repositories/underscore.002.png', alt='underscore.js')
    .unit.people
      .unit-inner
        .hd
          h2#people.en.h3 People
        .bd

    .unit.joinus
      .unit-inner
        .hd
          h2#joinus.en.h3 Join Us!
        .bd

    .unit.mediakit
      .unit-inner
        .hd
          h2.en.h3 Media kit
        .bd

include includes/systems/foot
