include includes/systems/head
body
  #page
    header.the-header.unit.pad.cf
      .unit-inner
        div.hgroup
          h1.en en.ja OSS
          h2.en.h6 Bringing down the language barriers
        div.logo
          span.icon-logo
    .unit.navgation
      .unit-inner
        .bd
          ul.list-none
            li.en.h1
              a(href='#philosophy') Philosophy
            li.en.h1
              a(href='#projects') Projects
            li.en.h1
              a(href='#people') People
            li.en.h1
              a(href='#joinus') Join Us
    .unit.philosophy
      .unit-inner
        .hd
          h2#philosophy.h3 OSSドキュメントを日本語に
        .bd
          :markdown
            en.ja OSSでは**OSSの日本語訳レポジトリの集積**、**OSSドキュメント日本訳のリクエストの集積**の2点にフォーカスし、オープンでソーシャルな翻訳を行っています。
    .unit.projects
      .unit-inner
        .hd
          h2#projects.en.h3 Projects
        .bd
          ul.list-none
            li
              a(href='https://github.com/enja-oss/Backbone', title='backbone.js')
                img(src='assets/images/repositories/backbone.001.png', alt='backbone.js')
            li
              a(href='https://github.com/enja-oss/Underscore', title='underscore.js')
                img(src='assets/images/repositories/underscore.002.png', alt='underscore.js')
            li
              a(href='https://github.com/enja-oss/Sass', title='Sass')
                img(src='assets/images/repositories/sass.003.png', alt='Sass')
            li
              a(href='https://github.com/enja-oss/stylus', title='Stylus')
                img(src='assets/images/repositories/stylus.004.png', alt='Stylus')
            li
              a(href='https://github.com/enja-oss/CSSO', title='CSSO')
                :markdown
                  CSSO
            li
              a(href='https://github.com/enja-oss/emberjs-doc-translation', title='emberjs-doc-translation')
                :markdown
                  emberjs-doc-translation
            li
              a(href='https://github.com/enja-oss/idiomatic-css', title='idiomatic-css')
                :markdown
                  idiomatic-css
            li
              a(href='https://github.com/enja-oss/ja-lesscss-org', title='ja-lesscss-org')
                :markdown
                  ja-lesscss-org

    .unit.people
      .unit-inner
        .hd
          h2#people.en.h3 People
        .bd
          ul.list-none
            li
              a(href='https://github.com/1000ch')@1000ch
            li
              a(href='https://github.com/3panda')@3panda
            li
              a(href='https://github.com/ahomu')@ahomu
            li
              a(href='https://github.com/hiloki')@hiloki
            li
              a(href='https://github.com/hoisjp')@hoisjp
            li
              a(href='https://github.com/hokaccha')@hokaccha
            li
              a(href='https://github.com/japboy')@japboy
            li
              a(href='https://github.com/kuu')@kuu
            li
              a(href='https://github.com/Layzie')@Layzie
            li
              a(href='https://github.com/maepon')@maepon
            li
              a(href='https://github.com/mitsuruog')@mitsuruog
            li
              a(href='https://github.com/myakura')@myakura
            li
              a(href='https://github.com/shiwano')@shiwano
            li
              a(href='https://github.com/studiomohawk')@studiomohawk
            li
              a(href='https://github.com/t32k')@t32k
            li
              a(href='https://github.com/tokuda109')@tokuda109
            li
              a(href='https://github.com/yukihr')@yukihr
            li
              a(href='https://github.com/mazzo46')@mazzo46
            li
              a(href='https://github.com/suzukima')@suzukima
            li
              a(href='https://github.com/edom18')@edom18

    .unit.joinus
      .unit-inner
        .hd
          h2#joinus.en.h3 Join Us!
        .bd
          :markdown
            enja-ossでは翻訳参加者を募集しています。参加方法等、詳しくはenja-oss/READMEを参照して下さい。
          a(href='https://github.com/enja-oss/README')
            :markdown
              enja-oss/README
          a(href='https://gist.github.com/4466335')
            :markdown
              en.ja OSSについて(by @studiomohawk)

    .unit.mediakit
      .unit-inner
        .hd
          h2.en.h3 Media kit
        .bd

include includes/systems/foot
