.unit.projects.featured
  .unit-inner
    .hd
      h2#projects.en.main.h2 Featured Projects
    .bd
      .slider-wrapper
        #slider.nivoSlider
          a(href='https://github.com/enja-oss/Backbone', title='backbone.js')
            img(src='assets/images/repositories/backbone.001.png', alt='backbone.js')
          a(href='https://github.com/enja-oss/Underscore', title='underscore.js')
            img(src='assets/images/repositories/underscore.002.png', alt='underscore.js')
          a(href='https://github.com/enja-oss/Sass', title='Sass')
            img(src='assets/images/repositories/sass.003.png', alt='Sass')
          a(href='https://github.com/enja-oss/stylus', title='Stylus')
            img(src='assets/images/repositories/stylus.004.png', alt='Stylus')
