.unit.joinus
  .unit-inner
    .hd
      h2#joinus.en.main.h3 Join Us!
    .bd
      :markdown
        enja-ossでは翻訳参加者を募集しています。参加方法等、詳しくはenja-oss/READMEを参照して下さい。
      a(href='https://github.com/enja-oss/README')
        :markdown
          enja-oss/README
      a(href='https://gist.github.com/4466335')
        :markdown
          en.ja OSSについて(by @studiomohawk)
