script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.pack.min.js')
script(src='./assets/scripts/script.js')
// script(src='./node_modules/Holder/holder.js')
