!!!
html(lang="ja")
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='description', content='#{description}')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/nivo-slider.min.css')
    link(rel='stylesheet', href='assets/styles/master.css')
