.unit.navgation
  .unit-inner
    .bd
      ul.list-none
        li.en.h3.main
          a(href='#philosophy') Philosophy
        li.en.h3.main
          a(href='#projects') Projects
        li.en.h3.main
          a(href='#people') People
        li.en.h3.main
          a(href='#joinus') Join Us
